<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/styles.css">
<head>
  <meta charset="UTF-8">
  <title>新增商品</title>
</head>
<body style="font-size: 20px">
<div class="welcome-message">新增商品</div>
<div class="wrapper">
  <div class="leftbox">
    <ul>
      <li style="height: 200px;">
        <p style="margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; height: 100%;">
          <img src="/img/logo.jpg" alt="Logo" style="max-width: 100%; max-height: 100%; object-fit: contain;">
        </p>
      </li>
      <li>
        <p><a href="/index.html">首页</a></p>
      </li>
      <li>
        <p><a href="/Commodity/allCategory">商品管理</a></p>
      </li>
      <li>
        <p><a href="/home/userManagement">用户管理</a></p>
      </li>
      <li>
        <p><a href="/itemOrder/orderForm">订单管理</a></p>
      </li>
    </ul>
  </div>
  <div>
    <div class="body-content" style="display: flex">
      <form th:action="@{/Commodity/addCategory}" method="post" class="form-x">
        <div class="form-group">
          <div class="label"><label>商品编号：</label></div>
          <div class="field">
            <input type="text" class="input w50" name="id" data-validate="required:请输入商品名称" />
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label"><label>商品名称：</label></div>
          <div class="field">
            <input type="text" class="input w50" name="name" data-validate="required:请输入商品名称" />
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label"><label>图片：</label></div>
          <div class="field">
            <input type="text" class="input w50" name="url" data-validate="required:请输入商品名称" />
            <div class="tips"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="label"></div>
          <div class="field">
            <button class="button bg-main icon-check-square-o" type="submit">提交</button>
            <button class="button bg-main icon-check-square-o" type="reset">重置</button>
          </div>
        </div>
      </form>
      <a href="/Commodity/allCategory">返回</a>
    </div>
  </div>
</div>
</body>
</html>