<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace用来绑定mapper接口-->
<mapper namespace="com.example.petarrange.persistence.UserMapper">


    <!-- public int addUser(User user);-->
    <insert id="addUser" parameterType="User">
        insert into
                (userName,password)
            values(#{userName},#{password})
    </insert>


    <!--public int delUser(@Param("id") int id);-->
    <delete id="delUser" parameterType="int">
        delete from user where username = #{username}
    </delete>

    <!--public int updateUser(User user,@Param("id") int id);-->
    <update id="updateUser" parameterType="User">
        update user
        set userName = #{userName},
            password =#{password}
        where username =#{username}
    </update>


    <!--public List<User> selectAllUser();-->
    <select id="selectAllUser" resultType="User">
        select
            userName,password
        from user
    </select>

    <!--public List<User> findUserByName(@Param("userName") String userName);-->
    <select id="findUserByName" resultType="User">
        select
            userName,password
        from user
        where userName = #{userName}
    </select>
</mapper>